.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************************  NAV BAR    **************************/
.navbar{
  background-color: #000000;
  height: 100px;
}
#meme{
  color: snow;
  margin-right: 50px;
}
.nav-link{
  color: white;
  text-shadow: 2px 2px 3px black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 22px;
}
#nav_btn{
  color: snow;
}

#login{
  color: rgb(11, 219, 219);
  
}

#reg{
  color: rgb(11, 219, 219);
  
}


/*********************** body   ****************/
.main_div{
  margin-top: 40px;
  text-align: center;
}
.card_div{
  margin-top: 40px;
  display: flex;
  width: 100%;
}

.card{
margin-left: 40px;
}




/************************* footer ***************************/
.body{

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.footer_div{
  width: 100%;
  height: 50px;
  background-color: #000000;
  margin-top: auto;
 
}
.footer_div p{
  color: snow;
  text-align: center;
  justify-content: center;
}


/************************ Log in page ***********/
h1{
  color:black;
  opacity: 0.6;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h2{
  color:black;
  opacity: 0.8;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
i{
  color: gray;
  width: auto;
  size: 10px;
  margin: auto;
  margin-right: 10px;
  
}
.container{
  height: auto;
  width: 350px;
  background-color:#99ddff;
  border-radius: 15px;
}
div.form-group{
  margin-top: 5px;
}
.form-group label{
  margin: 5px;
  font-size: 14px;
}

form{
  margin-top: 5px;
  height: 450px;
}
.transfer{
margin-left: 3px;
margin-bottom: 10px;
}
.btnregister{
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  background-color: #0099ff;
  color: white;
  border-radius: 5px;
  border: none;
  margin: 4px;
  cursor: pointer;
}
.transfer a{
  margin: 5px;
  color: #0099ff;
}


/************** sign up ************/

/* .container_signup{
  height: 100%;
  width: 400px;
  background-color:#99ddff;
  border-radius: 15px;

} */




/**************** user nav ******************/

.user_nav{
  min-height: 100px;
  display: flex;
  line-height: 93px;
  justify-content: space-around;
  background-color: #000000;

}

.user_nav bt{
  margin-right: 30px;
}

.c_div{
  text-align: center;
  justify-content: center;
}

/************************* meme card **************************/

.memeCard{
  margin-top: 20px;
  margin-left: 38%;
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin-bottom: 100px;
}






/***************** canvas *******************/

canvas{
  border: 1px solid black;
  margin-left: 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}















